@import url(https://fonts.googleapis.com/css?family=Pangolin);
@import url(https://fonts.googleapis.com/css?family=Sansita);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html,body{
	/*background-color: #FAF0E6;*/
}
.celda{
	width: 68px;
	font-size: 10px;
}
.corto{
	width: 52px;
}
.costo{
	width: 45px;
}
.nombres{
	width: 155px;
}
.total{
	margin-top: 20px;
	float: right;
	display: block;
}
input{
	background-color: #fff;
}