@import url(https://fonts.googleapis.com/css?family=Pangolin);
@import url(https://fonts.googleapis.com/css?family=Sansita);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html,body{
	/*background-color: #FAF0E6;*/
}
.celda{
	width: 70px;
}
.corto{
	width: 55px;
}
.nombres{
	width: 175px;
}
.total{
	margin-top: 20px;
	float: right;
	display: block;
}
input{
	background-color: #fff;
}