@import url(https://fonts.googleapis.com/css?family=Pangolin);
@import url(https://fonts.googleapis.com/css?family=Sansita);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	/*background-image: url('../img/fondo9.jpg');*/
	background-color: #FAF0E6;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;

}
.tabla_principal{
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;
}
.contenido{
	display: inline-block;
	width: 1000px;
	text-align: center;
}
.titulo{
	font-size: 40px;
	font-family: 'Pangolin', cursive;
	color: #D14747;
	margin-top: 30px;
}
.wrapper{
	overflow:auto;
	margin-top:30px;
}
#wrapper1{
	height: 300px;
	position:relative;
}
.wrapper-fila{
	width: 1000px;
	white-space: nowrap; 
	font-size: 0px; /* Esto es para que no existan espacios en blanco entre los DIV contenidos */
}
#contenedor-especial{
	
}
#div-titulo{
	
}
.celda{
	width: 160px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	min-height: 25px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;
	border: 1px solid #000;
	word-break: break-word;
}
.celda:hover{
	background-color: #F2D6D6;
}
.celda_titulo{
	background-color: #26F7A1;
	background-color: #CEE7FF;
	border: 1px solid #000;
	font-family: 'Sansita', sans-serif;
	font-size: 19px;
	height: 28px;
	width: 160px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.entrada{
	width: 160px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	border: 1px solid #000;
	height: 25px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;
}
#invisible{
	display: none;
}
#invisi{display: none;}
.corto{width: 120px;}
.nombres{width: 200px;}
.fecha{cursor: pointer;}
.aviso{cursor: pointer;}
.fechaingreso{cursor:pointer;}
.clave{width: 120px; cursor: pointer;}
.boton_eleccion{
	display: inline-block;
	background-color: #CEE7FF;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	cursor: pointer;
	margin-top: 20px;
	border: 1px solid #EE4B5E;
	padding: 5px 10px;
	text-decoration: none;
}
.form-wrapper{
	display: inline-block;
	width: 500px;
	margin-top: 20px;
}
.campo-fecha{
	margin-right:15px;
	margin-left: 7px;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	width: 150px;
}
.boton_consulta{
	display: inline-block;
	font-size: 16px;
}
#wrapper2{
	max-height: 250px;
}
.total{
	float:left;
	margin-top: 25px;
	font-size: 20px;
	background-color: #fff;
	margin-left: 15px;
	border: 1px solid #000;
	padding: 5px;
	display: inline-block;
}
#posicionado{position: relative;}
#boton_atras{
	position: absolute;
	top: 62px;
	left: 100px;
	text-decoration: none;
	color: #000;
	background-color: #CEE7FF;
	border: 1px solid #000;
	padding: 3px 6px;
}
#boton_pdf{
	float: left;
	display: inline-block;
	margin-top: 30px;
	margin-left: 300px;
	font-size: 18px;
}
#temporal{
	display: none;
}
#temporal2{
	display: none;
}
#inutil{
	display: none;
}
#municipio{
}
select{
	text-align-last: center;
	border: none !important;
}
.prueba{
	width: 122px;
}
.consulta-municipio{
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}